.title {
  color: white;
  font-size: 32px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.localVideoBox {
  display: block;
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: -4px -1px 15px 3px rgba(0, 0, 255, .2);
}

.remoteVideoBox {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: -4px -1px 15px 3px rgba(0, 0, 255, .2);
}

.noVideoBox {
  display: none;
}

.stopBtn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.clientList {
  align-items: center;
  height: calc(100vh - 200px);
}

.iconBox {
  color: white;
  margin-top: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.reloadBtn {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #F2994A;
  cursor: pointer;
  box-shadow: -4px -1px 15px 3px rgba(0, 0, 255, .2);
}
