.title {
  color: white;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 100px;
}

.btn {
  padding: 30px;
  font-size: 2vw;
  font-weight: bold;
  background-color: white;
  border-color: white;
  color: #9198e5;
  cursor: pointer;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.localVideoBox {
  display: block;
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
}

.remoteVideoBox {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.stopBtn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
